QWEN_API_KEY=your_qwen_api_key
QWEN_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
QWEN_MODEL_NAME=qwen3.5-plus-2026-04-20

ZHI_PU_API_KEY=your_zhipu_api_key

MODEL_NAME=deepseek-v4-flash
MODEL_API=your_deepseek_api_key
MODEL_URL=https://api.deepseek.com

#jwt相关配置
# 用于签名的密钥
JWT_SECRET_KEY=your_jwt_secret_key
# 使用的加密算法
ALGORITHM=HS256
